---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---
<Layout title="Agile Security Framework">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Agile Security Framework</Fragment>
            <Fragment slot="desc">We are a small passionate team.</Fragment>
        </Sectionhead>
        <p>
            The Agile Security Framework is a set of practices that can be used to improve the security of your software. It is based on the Agile Manifesto and the 12 principles of the Agile Manifesto.
        </p>
    </Container>
</Layout>