---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---
<Layout>
    <Container>
        <h1>ASF</h1>
        <p>Agile Security Framework</p>
    </Container>
</Layout>