---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Self-managed",
    price: {
      monthly: "3600 €",
    },
    popular: true,
    features: [
      "Yearly-billing and flat for up to 20 users",
      "Deploy MIRA on your own infrastructure",
      "Standard support (tickets and knowledge base)",
      "Access to updates (upgrade at your own pace)",

    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Cloud-instance",
    price: {
      monthly: "4800 €",
    },
    popular: false,
    features: [
      "Yearly-billing and flat for up to 20 users",
      "We handle hosting and operations",
      "Standard support (tickets and knowledge base)",
      "Automatic updates",
      "Automated backups",

    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "Customized features",
      "Custom domains",
      "SAML & SSO Integration",
      "MSSP custom packaging",
      "Branding and white-labeling",
      "Advanced support"
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Predictive, simple and cost-eeficient.<br />
        Self-managed offer is <span class="font-semibold">completely free</span>
        for education, healthcare and non-profit organizations.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
  <Container>
    <div class="text-center p-4 m-4">Start a free 30-days trial today!</div>
  </Container>
</Layout>
