---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Self-managed",
    price: {
      annual: "1990 €",
      monthly: "1990 €",
      original: "2990 €",
      discount: "33%",
    },
    popular: true,
    features: ["Deploy MIRA on your own infrastructure", "ABC", "DEF", "GHI", "JKL"],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Cloud-instance",
    price: {
      monthly: "2990 €",
      annual: "$16",
      discount: "10%",
      original: "3990 €",
    },
    popular: false,
    features: ["We take care of hosting and management", "ABC", "DEF", "GHI", "JKL"],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Pricing is <span class="font-semibold">yearly</span> and flat up to 20 users.
        A discount of 33% applies for the first year with multi-year subscription.<br/>
        Self-managed offer is <span class="font-semibold">completely free</span> for education, healthcare and non-profit organizations.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
  <Container>
    <div class="text-center p-4 m-4">
      Start a free 30-days trial today!
    </div>
    
  </Container>
</Layout>
