---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Cloud design and architecture",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec lacinia tincidunt, nunc est aliquam nisl, eu aliquam nisl nisl sit amet lorem. ",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Cyber security and compliance",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec lacinia tincidunt, nunc est aliquam nisl, eu aliquam nisl nisl sit amet lorem. ",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Software development",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec lacinia tincidunt, nunc est aliquam nisl, eu aliquam nisl nisl sit amet lorem. ",
    icon: "bx:bxs-data",
  },
  {
    title: "Program management and scaling",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec lacinia tincidunt, nunc est aliquam nisl, eu aliquam nisl nisl sit amet lorem. ",
    icon: "bx:bxs-bot",
  },
  {
    title: "Data engineering",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec lacinia tincidunt, nunc est aliquam nisl, eu aliquam nisl nisl sit amet lorem. ",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Operations and SRE",
    description:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec lacinia tincidunt, nunc est aliquam nisl, eu aliquam nisl nisl sit amet lorem.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Hands-on experts to tackle your toughest challenges
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Small team with big talents. We help you solve your complex problems in optimal and sustainable ways. Here are some examples of the areas we specialize in:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
